
.navbar{
    background-color: #ffffff;
}
.logo{
    color: #4d1761;
    margin-left: 3%;
}
.line1,.line2,.line3{
	width: 23px;
	height: 3px;
	margin: 5px;
	transition: .3s;
}
.logo-text{
    font-weight: 700;
    font-size: 45px;
}
.logo-text2{
    margin-top: -20px;
    font-weight: 500;
}

.collapse.navbar-collapse{
    justify-content: end;
}
.item{
    margin-left: 50px !important;
    margin-right: 3%;
}
.menu-item{
    color: #4d1761;
    font-size: 15px;
    display: flex;
    margin: 0 25px;
    font-weight: 700;
    Text-Decoration: None !important; 
}
.menu-item:hover{
    color: #4d1761;
}
.button-nav{
    padding: 10px 15px;
    font-size: 15px;
    color: white;
    background-color: #4d1761;
    border-radius: 25px;
    border: none;
}
.path {
    stroke-dasharray: 2600;
    stroke-dashoffset: 2000;
    animation: dash 5s forwards;
  }
  
  @keyframes dash {
    from {
      stroke-dashoffset: 2300;
    }
    to {
      stroke-dashoffset: 0;
    }
}
.path1 {
    stroke-dasharray: 5000;
    stroke-dashoffset: 4500;
    animation: dash1 5s forwards;
    margin-top: -300px;
  }
  
  @keyframes dash1 {
    from {
      stroke-dashoffset: 3000;
    }
    to {
      stroke-dashoffset: 0;
    }
}
.path2 {
    stroke-dasharray: 5000;
    stroke-dashoffset: 4000;
    animation: dash2 5s forwards;
    margin-top: -300px;
  }
  
  @keyframes dash2 {
    from {
      stroke-dashoffset: 5000;
    }
    to {
      stroke-dashoffset: 0;
    }
}
.path3 {
    stroke-dasharray: 5000;
    stroke-dashoffset: 4000;
    animation: dash3 5s forwards;
    margin-top: -300px;
  }
  
  @keyframes dash3 {
    from {
      stroke-dashoffset: 5000;
    }
    to {
      stroke-dashoffset: 0;
    }
}
.path4 {
    stroke-dasharray: 5000;
    stroke-dashoffset: 4000;
    animation: dash4 6s forwards;
    margin-top: -300px;
  }
  
  @keyframes dash4 {
    from {
      stroke-dashoffset: 5000;
    }
    to {
      stroke-dashoffset: 0;
    }
}
.path5 {
    stroke-dasharray: 5000;
    stroke-dashoffset: 4000;
    animation: dash5 7s forwards;
    margin-top: -300px;
  }
  
  @keyframes dash5 {
    from {
      stroke-dashoffset: 5000;
    }
    to {
      stroke-dashoffset: 0;
    }
}
.banner svg{
    margin-top: 80px;
}
.banner-item{
   margin-top: -35%;
}
.banner-text{
    color: #4d1761;
    font-size: 45px;
    font-weight: 700;
}
.banner-text2{
    color: #4d1761;
    font-size: 20px;
    font-weight: 400;
}
.button-banner1{
    background-color: #4d1761;
    color: #ffffff;
    border-radius: 25px;
    font-weight: 500;
    border-color: #4d1761;
}
.button-banner2{
    background-color: #ffffff;
    color: #4d1761;
    border-radius: 25px;
    font-weight: 500;
    border-color: #4d1761;
}
.video-banner{
    width: 100%;
    height: 100%;
}
.img-banner{
    width: 100%;
    height: 100%;
    border-radius: 15px;
    margin-top: 10px;
    z-index: -2;
}
.play-btn{
    position: absolute;
    top: 20px;
    left: 0px;
    bottom: 0px;
    right: 0px;
    margin: auto;
    width: 80px;
    height: 80px;
    text-align: center;
    cursor: pointer;
    transition: 0.5s;
    color: #ffffff;
    background-color: #4d1761;
    font-size: 40px;
    border-radius: 50%;
    z-index: 1;
}
.play-btn i{
    line-height: 80px;
    margin-left: 5px;
    z-index: 1;
}
.play-btn::before,.play-btn::after{
    content: '';
    position: absolute;
    border: 2px solid #4d1761;
    border-radius: 50%;
    left: 5px;
    right: 5px;
    top: 5px;
    bottom: 5px;
    -webkit-animation-timing-function: ease;
            animation-timing-function: ease;
    -webkit-animation: pulse 3s linear infinite;
            animation: pulse 3s linear infinite;
    background: #4d1761;
    opacity: 0.3;
    z-index: -1;
}
.play-btn::after{
    left: 10px;
    right: 10px;
    top: 10px;
    bottom: 10px;
    opacity: 0.5;
}
@-webkit-keyframes pulse {
    0% {
      transform: scale(1, 1);
    }
    25% {
      transform: scale(1, 1);
    }
    50% {
      transform: scale(1.5, 1.5);
    }
    100% {
      transform: scale(1, 1);
    }
}
@keyframes pulse {
    0% {
      transform: scale(1, 1);
    }
    25% {
      transform: scale(1, 1);
    }
    50% {
      transform: scale(1.8, 1.8);
    }
    100% {
      transform: scale(1, 1);
    }
}
.modal-content{
    background: transparent !important;
    border: none !important;
}
.works{
    background: #f1f8f4;
    margin-top: 65%;
    position: relative;
}
.works-item{
    margin-top: -50%;
}
.works-title{
    margin-left: 12%;
    margin-top: 150px;
    padding-top: 80px;
    text-transform: uppercase;
    color: #4d1761;
    font-size: 45px;
    font-weight: 700;
    z-index: -1;
}

ul{
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.works-list-item{
    margin-left: 50px !important;
    margin-right: 50px !important;
    font-size: 20px;
    font-weight: 700;
    color: #4d1761;
    cursor: pointer;
    position: relative;
    text-align: center;
}


.carousel-indicators li{
    margin-top: -40px !important;
    text-align: right !important;
    margin-left: 20% !important;
    background-color: #f1f8f4 !important;
}
.slick-prev .slick-slider{
    display: none !important;
}
.slick-arrow{
    position: absolute !important;
    top: 50% !important;
    transform: translateY(-50%) !important;
    border: none;
    width: 50px !important;
    height: 50px !important;
    display: flex !important;    
    justify-content: center !important;
    align-items: center !important;
    font-size: 40px !important;
    color: #4d1761 !important;
    z-index: 2;
    line-height: 1;
}
.slick-prev::before{
    content: '' !important;
}
.slick-next::before{
    content: '' !important;
}
.slick-prev{
    left: 0 !important;
}
.slick-next{
    right: 0 !important;
}
.slider-dots{
    list-style-type: none;
    display: flex;
    position: absolute;
    top: -75px;
    left: 50%;
    color: #4d1761;
    cursor: pointer;
    font-size: 20px;
    font-weight: 700;
}
.slider-dots li{
    margin: 0 40px;
    padding-bottom: 5px;
}
.slider-dots .slick-active{
    border-bottom: 3px solid #4d1761; 
}
/* li.active::after{
    position: absolute;
    content: "";
    height: 3px;
    width: 60px;
    background-color: #4d1761;
    right: 16px;
    margin: auto;
    bottom: -35px;
} */
.icon{
    margin-top: 25%;
    margin-left: 30%;
}
.works-icon{
    color: #ffee00;
}
.works-icon1{
    margin-left: 35%;
    color: #ffee00;
}
.carousel-item{
    width: 100%;
    height: 1000px;
}
.img-works01{
    width: 50%;
    height: 100%;
    margin-top: -20%;
    margin-left: 50%;
    /* padding-bottom: 10%; */
    /* z-index: 2; */
}
.img-works02{
    margin-top: -12px;
    width: 100%;
}
.img-works03{
    width: 100%;
}
.text-slide{
    position: absolute;
    top: -80px;
    left: 0;
}
.text-slide3{
    position: absolute;
    top: -140px;
    left: 130px;
}
.text-slide3.right{
    position: absolute;
    top: 45%;
    left: 40%;
}
.slide .card{
    border-radius: 20px;
}
.card .slide-left{
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 30px;
    border-radius: 15px;
    border: none;
    text-align: center !important;
    background-color: #f8faf9;
}
.card .slide-right{
    margin-top: 30px;
    margin-bottom: 30px;
    margin-right: 30px;
    border-radius: 15px;
    border: none;
    text-align: center;
    background-color: #f8faf9;
}
.avatar1{
    width: 180px;
    height: 250px;
    clip-path: circle(55px at 48% 30%);
    margin: auto;
    object-fit: cover;
}
.avatar2{
    width: 180px;
    height: 250px;
    clip-path: circle(55px at 55% 30%);
    margin: auto;
    object-fit: cover;
}
.work-name{
    color: #4d1761;
    font-size: 20px;
    font-weight: 700;
    margin-top: -100px;
}
.co{
    width: 10%;  
    display: inline-block;
    position: relative;
    left: 50%;
    transform: translateX(-50%);;
}
.work-mail{
    color: #4d1761;
    font-weight: 500;
    opacity: 0.7;
}
.work-phone{
    color: #4d1761;
    font-weight: 500;
    opacity: 0.7;
}
.number-slide{
    font-size: 105px;
    font-weight: 750;
    color: #ffee00;
    position: relative;
    margin-top: -680px;
    z-index: 2;
    margin-left: -5px;
}
.number-slide3{
    font-size: 105px;
    font-weight: 750;
    color: #ffee00;
    /* position: absolute; */
    margin-top: -60%;
    margin-left: 5%;
}
.text-send-title{
    color: #4d1761;
    font-size: 35px;
    font-weight: 700;
}
.text-send-item{
    color: #4d1761;
    font-weight: 500;
}
.read-more-send{
    color: #4d1761;
    font-weight: 500;
}
.send-link{
    color: #4d1761;
    text-decoration: underline;
}
.img-send{
    display: flex;
}
.avatar-send1{
    width: 40px;
    height: 50px;
    clip-path: circle(20px at 50% 40%);
    margin-top: -2%;
    z-index: 2;
    object-fit: cover;
}
.avatar-send2{ 
    width: 40px;
    height: 50px;
    clip-path: circle(20px at 50% 40%);
    margin-top: -2%;
    margin-left: -4%;
    z-index: 1;
    object-fit: cover;
}
.avatar-send3{
    width: 40px;
    height: 50px;
    clip-path: circle(20px at 50% 40%);
    margin-top: -2%;
    margin-left: -4%;
    z-index: 0;
    object-fit: cover;
}
.send-avatar{
    background-color: #96d5ce;
    color: #ffffff;
    margin-left: -3%;
    height: 40px;
    width: 40px;
    margin-top: -1.5% !important;
    border-radius: 50%;
    cursor: pointer;
    border: none;
}
.slide-text-title{
    color: #4d1761;
    font-size: 35px;
    font-weight: 700;
    margin-top: 6%;
}
.slide-text{
    color: #4d1761;
    font-weight: 500;
}
.text-slide2{
    margin-top: -660px;
}
.slide02-top{
    color: #4d1761;
    font-weight: 500;
    padding: 20px;
}
.button-slide{
    display: flex;
}
.button1-slide2{
    display: flex;
    background-color: #f8faf9;
    border-radius: 50px;
    border: none;
    padding-right: 20px;
}
.avatar{
    width: 50px;
    height: 50px;
}
.button1-slide2 .name{
    color: #4d1761;
    font-weight: 500;
    margin: auto;
}
.button1-slide2 .icon{
    color: #4d1761;
    font-weight: 500;
    margin: auto;
    margin-left: 10px;
}
.button2-slide2{
    margin-left: 20px;
    display: flex;
    background-color: #4d1761;
    padding-right: 20px;
    padding-left: 20px;
    border-radius: 50px;
    border: none;
}
.button2-slide2 .add{
    color: #ffffff;
    font-weight: 500;
    margin: auto;
    padding: 13px 0;
}
.button2-slide2 .icon{
    color: #ffffff;
    font-weight: 500;
    margin: auto;
    margin-left: 10px;
}
.your-messages{
    text-transform: uppercase;
    color: #4d1761;
    font-weight: 500;
}
.textarea{
    background-color: #edf6f5;
    border-radius: 35px;
    width: 95%;
    padding: 10px 15px;
    height: 200px;
}
.upload{
    color: #4d1761;
    text-transform: uppercase;
    font-weight: 500;
}
.option{
    color: #b4b9bd;
    text-transform: uppercase;
    font-weight: 500;
}

.click{
    color: #4d1761;
    text-decoration: underline;
}
.slide2.card{
    background-color: #edf6f5;
}
#dropzone {
    padding: 25px;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-weight: 500;
    font-size: 20px;
    cursor: pointer;
    color: #e0e0e0;
    background-color: #edf6f5;
    border: 4px dashed #e0e0e0;
    border-radius: 20px;
    height: 200px;
    margin: 20px;
}
#dropzone div {
    position: absolute;
    top: 50px;
    right: 0;
    bottom: 0;
    left: 0;
}
  
#dropzone img {
    border-radius: 10px;
    vertical-align: middle;
    max-width: 75%;
    max-height: 75%;
    margin-top: -5px;
}
  
#dropzone [type="file"] {
    cursor: pointer;
    position: absolute;
    opacity: 0;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.number-slide2{
    font-size: 105px;
    font-weight: 750;
    color: #ffee00;
    position: absolute;
    margin-top: -10%;
    margin-left: 10%;
    z-index: 1;
}
.text-write-title{
    color: #4d1761;
    font-size: 35px;
    font-weight: 700;
    margin-top: 70px;
    margin-left: 55px;
}
.text-write-item{
    color: #4d1761;
    font-weight: 500;
    margin-left: 55px;
}
.text-icon{
    margin-left: 55px;
}
.icon-write{
    /* margin-left: 50px; */
    background-color: #96d5ce;
    color: #ffee00;
    padding: 10px;
    border-radius: 10px;
    z-index: 2 !important;
}
.title-card-send{
    color: #4d1761;
    font-weight: 500;
}
.text-card-send{
    color: #4d1761;
    font-weight: 500;
}
.send-icon{
    background-color: #96d5ce;
    color: #ffee00;
    padding: 10px;
    border-radius: 5px;
}
.send-name{
    color: #96d5ce;
    font-weight: 500;
    /* margin-top: 10px; */
}
.send.card.right{
    position: relative;
    left: -50%;
    margin-top: 80%;
}
.card-send-bot{
    display: flex;
}
.pricing-plans{
    margin-top: 200px;
}
.plans-img{
    width: 100%;
    margin-top: -35%;
    margin-left: -5%;
}
.pricing-plans-item{
    margin-top: -60%;
}
.pricing-plans-title{
    font-size: 35px;
    font-weight: 700;
    text-transform: uppercase;
    color: #4d1761;
    text-align: center;
}
.free-plans.card {
    width: 70%;
    height: 100%;
    float: right;
    background-color: #96d5ce;
    border-radius: 15px;
}
.free-plans-title{
    font-size: 40px;
    font-weight: 700;
    color: #ffffff;
    padding: 20px;
}
.free-plans-text{
    margin-bottom: 96px;
}
.plans-text{
    font-weight: 700;
    color: #4d1761;
    padding-left: 20px;
}
.free-plans-footer{
    font-size: 20px;
    font-weight: 650;
    color: #4d1761;
    margin: 0 60px;
}
.premium-plans.card {
    width: 70%;
    height: 100%;
    float: left;
    background-color: #96d5ce;
    border-radius: 15px;
}
.premium-plans-title{
    font-size: 40px;
    font-weight: 700;
    color: #ffffff;
    padding: 20px;
}
.premium-plans-text{
    font-size: 15px;
    font-weight: 500;
    color: #4d1761;
    /* margin-top: -10px; */
}
.premium-plans-footer{
    font-size: 20px;
    font-weight: 650;
    color: #4d1761;
    margin-bottom: 0;
}

.main{
    width: 80%;
    margin-bottom: 77px;
    margin-left: 30px;
    position: relative;
}
#slider{
    -webkit-appearance: none;
    width: 100%;
    height: 7px;
    outline: none;
    border-radius: 3px;
}
#slider::-webkit-slider-thumb{
    -webkit-appearance: none;
    width: 48px;
    height: 48px;
    cursor: pointer;
    z-index: 3;
    position: relative;
}
#selector{
    height: 48px;
    width: 48px;
    position: absolute;
    bottom: -20px;
    transform: translateX(-50%);
    z-index: 2;
}
.SelectBtn{
    height: 20px;
    width: 20px;
    background: #ffd200;
    border-radius: 50%;
    position: absolute;
    bottom: 18px;
    left: 18px;
}
#SelectValue{
    width: 55px;
    height: 35px;
    position: absolute;
    top: 40px;
    left: 10%;
    border: solid 3px #4d1761;
    border-radius: 10px;
    padding-right: 30px;
    text-align: center;
    line-height: 30px;
    font-size: 15px;
    font-weight: 700;
}
#SelectValue::after{
    content: 'GB';
    position: absolute;
    left: 20px;
    top: 0px;
}
#ProgressBar{
    width: 0%;
    height: 7px;
    background: #ffd200;
    border-radius: 3px;
    position: absolute;
    top: 9.8px;
    left: 0;
}

.hr-line-short{
    background-color: #ffee00;
    width: 30%;
    height: 1px;
    margin-top: -10px;
    margin-bottom: 50px;
}
.hr-line-long{
    background-color: #ffee00;
    width: 90%;
    height: 1px;
}
.mission{
    margin-top: 250px;
    background-color: #96d5ce;
}
.mission-img-left{
    width: 110%;
    height: 100%;
    object-fit: cover;
    margin-left: -8%;
    z-index: 1;
}
.mission-img-right{
    width: 50%;
    margin-left: 52%;
    margin-top: 40%;
    background-color: #96d5ce;
    z-index: 1;
}
.mission-title{
    text-align: center;
    font-size: 35px;
    font-weight: 700;
    text-transform: uppercase;
    color: #4d1761;
    margin-top: -650px;
    margin-left: -66%;
}
.mission-item{
    z-index: 2;
    margin-left: 44%;
}
.mission-text1{
    margin-top: 80px;
    margin-left: 35%;
    font-size: 40px;
    font-weight: 700;
    color: #4d1761;
}
.mission-text2{
    width: 400px;
    margin-left: 35%;
    font-size: 20px;
    font-weight: 500;
    color: #4d1761;
}
.question{
    margin-top: 200px;
}
.question-title{
    font-size: 35px;
    text-transform: uppercase;
    width: 400px;
    margin: auto;
    font-weight: 700;
    color: #4d1761;
    text-align: center !important;
    margin-top: 200px;
}
.question-number{
    color: #ffee00;
    font-size: 40px;
    font-weight: 700;
    display: flex;
    margin-top: 1.5%;
    position: absolute;
}
.faq-container{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.hr-line{
    width: 100%;
    margin: auto;
}
.faq-question{
    font-size: 18px;
    font-weight: 500;
    color: #4d1761;
    cursor: pointer;
    padding: 30px 20px;
    width: 75%;
    border: none;
    outline: none;
    transition: 0.4s;
    margin-left: 10%;
}
.faq-answer{
    margin-left: 10%;
    font-weight: 500;
    padding: 0 18px;
    display: none;
    overflow: hidden;
    width: 75%; 
    color: #4d1761;
    opacity: 0.7;
}
.faq-question:after {
    content: '\002B';
    font-size: 50px;
    float: right;
    color: #96d5ce;
    margin-top: -3%;
    margin-right: -25%;
}
.faq-question.active:after {
    content: "\005F";
}
#more{
    display: none;
}
.button-read-more{
    text-align: center;
}
.read-more{
    background-color: #4d1761;
    color: #ffffff;
    padding: 10px 25px;
    font-size:15px;
    font-weight: 450;
    border-radius: 20px;
    text-align: center;
    margin-top: 5%;
    border: none;
}
.footer{
    margin-top: 150px;
    margin-left: 60px;
    margin-right: 60px;
}
.footer-text{
    font-weight: 700;
    font-size: 45px;
    color: #4d1761;
}
.footer-text2{
    color: #4d1761;
    margin-top: -15%;
    font-weight: 500;
}
.img-footer{
    width: 120px;
    float: right;
    border-radius: 5px;
}
.copyright{
    font-size: 15px;
    font-weight: 500;
    opacity: 0.5;
    margin-top: 30px;
}
.footer-nav{
    margin-left: 0%;
}
.footer-item{
    color: #4d1761;
    font-weight: 500;
    Text-Decoration: None !important; 
}
.col .fa.fa-facebook{
    color: #4d1761;
    border: 2px solid #4d1761;
    border-radius: 5px;
    padding: 1px 5px;
}
.col .fa.fa-twitter{
    color: #4d1761;
    padding: 5px 8px;
}
.copyrighticon{
    float: right;
    margin-top: 30px;
    margin-right: 20px !important;
}
@media only screen and (max-width: 576px) { 
    .navbar{
        margin-bottom: 500px !important;
    }
    .logo{
        margin-left: 0px;
    }
    .collapse.navbar-collapse{
        margin-left: -10px;
    }
    .nav-item{
        justify-content: start;
    }
    .item{
        margin-left: -3px !important;
    }
    .menu-item{
        display: flex;
        margin: 0 10px;
        font-size: 10px;
    }
    .logo-text {
        font-size: 25px;
    }
    .logo-text2 {
        font-size: 10px;
    }
    .button-nav{
        margin-top: -50px;
        margin-bottom: 10px;
        padding: 5px 10px;
        font-size: 10px;
        border-radius: 20px;
    }
    .banner-text{
        font-size: 20px;
    }
    .banner-text2{
        font-size: 13px;
    }
    .button-banner1{
        font-size: 13px;
    }
    .img-banner{
        margin-top: 0;
    }
    .button-banner1{
        font-size: 13px;
    }
    .button-banner2{
        font-size: 13px;
    }
    .play-btn{
        font-size: 20px;
        width: 50px;
        height: 50px;
    }
    .play-btn i{
        line-height: 55px;
        margin-left: 2px;
    }
    .works-title{
        font-size: 20px;
        margin-bottom: 80px;
        margin-top: 50px;
        margin-left: 0;
        /* text-align: center; */
    }
    .works-list-item{
        font-size: 11px;
        margin-left: 0 !important;
    }
    .carousel-indicators li{
        margin-left: 65px !important;
        margin-right: 5px !important;
    }
    .slide-text-title{
        font-size: 20px;
        margin-top: 50px;
    }
    .number-slide{
        margin-top: -200px;
        font-size: 40px;
    }
    .img-works01{
        width: 200px;
        margin-left: 30%;
        /* margin-top: 50px; */
    }
    .avatar1{
        width: 100px;
        height: 150px;
        clip-path: circle(30px at 46% 30%);
        padding-left: 15px;
        padding-right: 20px;
    }
    .avatar2{
        width: 100px;
        height: 150px;
        clip-path: circle(30px at 46% 30%);
        padding-left: 5px;
        padding-right: 20px;
    }
    .work-name{
        margin-top: -60px;
        font-size: 13px;
    }
    .work-mail{
        margin-top: -15px;
        font-size: 10px;
    }
    .work-phone{
        margin-top: -15px;
        font-size: 10px;
    }
    .slide-text{
        margin-bottom: 50px;
        font-size: 13px;
    }
    .card .slide-left{
        margin-right: 30px;
    }
    .card .slide-right{
        margin-left: 30px;
        margin-top: 0;
    }
    .card .slide-left{
        margin-right: 30px;
    }
    .card .slide-right{
        margin-left: 30px;
    }
    .text-slide2{
        margin-top: -55%;
    }
    .slide02-top{
        padding: 15px;
        font-size: 13px;
    }
    .avatar{
        width: 20px;
        height: 20px;
        margin: auto;
    }   
    .button1-slide2{
        padding: 5px 5px;
        max-width: 100px;
        margin-bottom: 10px;
    }
    .button1-slide2 .name{
        font-weight: 500;
        font-size: 10px;
    }
    .button-slide{
        flex-direction: column;
    }
    .button2-slide2{
        height: 42px !important;
        max-width: 100px;
    }
    .button2-slide2 .add{
        margin-left: 1px;
        font-size: 10px;
    }
    .button2-slide2.icon{
        margin-right: 5px;
    }
    .your-messages{
        font-size: 10px;
    }
    .textarea{
        border-radius: 20px;
        width: 100%;
        height: 80px;
    }
    .upload{
        font-size: 10px;
    }
    .option{
        font-size: 10px;
    }
    #dropzone{
        height: 130px;
        font-size: 10px;
        padding: 5px;
    }
    #dropzone div {
        top: 45px;
    }
    .click{
        font-size: 10px;
    }
    .text-slide2.right{
        margin-top: 20%;
        margin-bottom: 10%;
    }
    .number-slide2{
        font-size: 40px;
        margin-left: 0;
        margin-top: -60px;
    }
    .text-write{
        margin-left: 0;
    }
    .text-write-title{
        font-size: 20px;
        margin-top: 0px;
        margin-left: 0;
    }
    .text-icon{
        margin-left: 0;
    }
    .text-write-item{
        margin-left: 0;
        font-size: 13px;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }
    .img-works03{
        width: 550px;
        top: 300px;
        position: absolute;
    }
    .number-slide3{
        margin-top: -10px;
        margin-left: -10px;
        font-size: 40px;
    }
    .text-slide3{
        margin-left: -10px !important;
        /* position: absolute; */
        /* top: 110px; */
        /* left: -5px; */
    }
    .text-send-title{
        font-size: 20px;
        margin-top: 120px;
        margin-left: -125px;
        width: 85%;
    }
    .text-send-item{
        font-size: 13px;
        margin-left: -125px;
        width: 85%;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }
    .read-more-send{
        font-size: 13px;
        margin-left: -125px;
    }
    .send-link{
        font-size: 13px;
        margin-left: -125px;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        overflow: hidden;
        width: 85%;
    }
    .title-card-send{
        font-size: 13px;
    }
    .text-card-send{
        font-size: 13px;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }
    .avatar-send1{
        width: 30px;
        height: 50px;
        clip-path: circle(15px at 45% 40%);
        margin-top: -2%;
    }
    .avatar-send2{
        width: 30px;
        height: 50px;
        clip-path: circle(15px at 45% 40%);
        margin-top: -2%;
        margin-left: 0;
    }
    .avatar-send3{
        width: 30px;
        height: 50px;
        clip-path: circle(15px at 45% 40%);
        margin-top: -2%;
        margin-left: 0;
    }
    .send-avatar{
        margin-top: -1% !important;
        margin-left: -1%;
        width: 31px;
        height: 31px;
        font-size: 10px;
    }
    .send.card.left{
        position: absolute;
        margin-top: 20px;
        left: -130px;
        width: 100%;

    }
    .send.card.right{
        position: absolute;
        left: -145px;
        width: 100%;
        margin-top: 260px;
        margin-left: 15px;

    }
    .send-name{
        margin-top: 0px;
    }
    .icon-left{
        font-size: 20px !important;
    }
    .icon-right{
        font-size: 20px !important;
    }
    .free-plans.card{
        margin-left: 0px !important;
        width: 100%;
    }
    .free-plans-footer{
        margin: 15px 0;
    }
    .premium-plans.card{
        margin-left: 0px !important;
        margin-right: 0px !important;
        width: 100%;
        margin-top: 50px;
    }
    .premium-plans-footer{
        margin: 15px 0;
    }
    .main{
        width: 70%;
    }
    #SelectValue{
        left: 0%;
        padding-right: 10px;
        line-height: 20px;
        width: 35px;
        height: 25px;
        font-size: 10px;
    }
    #SelectValue::after{
        left: 15px;
    }
    .SelectBtn{
        height: 15px;
        width: 15px;
        bottom: 21px;
        left: 18px;
    }
    #ProgressBar{
        top: 10px;
    }
    .hr-line-short{
        margin-top: -25px;
    }
    .free-plans-text{
        margin-top: -25px;
        margin-bottom: 60px;
    }
    .hr-line-long{
        width: auto;
    }
    .premium-plans-text{
        margin-top: -25px;
    }
    .mission-img-left{
        margin-left: -7.1%;
    }
    .mission-title{
        margin-top: -400px;
        font-size: 20px;
        margin-left: 0;
    }
    .mission-item{
        z-index: 2;
        margin-left: 10px;
    }
    .mission-text1{
        margin-top: -10px;
        margin-left: 2%;
        font-size: 15px;
        width: 90%;
    }
    .mission-text2{
        font-size: 13px;
        margin-left: 2%;
        width: 90%;
    }
    .question-title{
        font-size: 20px;
        width: 100%;
        margin-top: 100px;
        margin-bottom: 10px;
    }
    .question-number{
        font-size: 30px;
        margin-top: 20px;
    }
    .faq-question{
        font-size: 13px;
        width: 80%;
    }
    .faq-answer{
        font-size: 13px;
    }
    .faq-question:after {
        font-size: 20px;
        margin-top: -35px;
        margin-right: -15%;
    }
    .faq-question.active:after {
        content: "\005F";
        font-size: 20px;
    }
    .read-more{
        margin-top: 5%;
        margin-left: 0;
    }
    .hr-line.question{
        width: 80%;
    }
    .footer{
        margin: 5px;
    }
    .logo-footer{
        margin-bottom: -30px;
    }
    .footer-text{
        font-size: 20px;
    }
    .footer-text2{
        font-size: 10px;
        margin-top: -20px;
    }
    .footer-item{
        display: flex; 
        font-size: 10px;
        margin-right: 25px;
        margin-left: -20px;
        margin-bottom: -50px;
    }
    .img-footer{
        width: 80px;
        float: left;
    }
    .logo-footer{
        margin-left: 0;
    }
    .copyright{
        font-size: 13px;
    }
    
    .slider-dots{
        font-size: 13px;
        top: -85px;
        left: 0;
    }
    .slider-dots li{
        margin-right: 40px;
        margin-left: -20px;
    }
    .co{
        width: 20px;
    }
    .slick-arrow{
        font-size: 25px !important;
    }
    .copyrighticon{
        float: left;
        margin-top: 0px;
    }
    .play-btn::before,.play-btn::after{
        -webkit-animation: pulse 5s linear infinite;
                animation: pulse 5s linear infinite;
    }
    .play-btn::after{
        left: 8px;
        right: 8px;
        top: 8px;
        bottom: 8px;
        opacity: 0.5;
    }
    @-webkit-keyframes pulse {
        0% {
          transform: scale(1, 1);
        }
        25% {
          transform: scale(1, 1);
        }
        50% {
          transform: scale(1.8, 1.8);
        }
        100% {
          transform: scale(1, 1);
        }
    }
    @keyframes pulse {
        0% {
          transform: scale(1, 1);
        }
        25% {
          transform: scale(1, 1);
        }
        50% {
          transform: scale(1.8, 1.8);
        }
        100% {
          transform: scale(1, 1);
        }
    }
}

@media only screen and (min-width: 576px) and (max-width: 767px){ 
    
    .logo{
        margin-left: 20px;
    }
    .collapse.navbar-collapse{
        margin-left: 5px;
    }
    .nav-item{
        justify-content: start;
    }
    .item{
        margin-left: 15px !important;
    }
    .menu-item{
        display: flex;
        margin: 0 15px;
        font-size: 13px;
    }
    .logo-text {
        font-size: 30px;
    }
    .logo-text2 {
        font-size: 13px;
    }
    .button-nav{
        margin-top: -50px;
        margin-bottom: 10px;
        padding: 5px 10px;
        font-size: 13px;
        border-radius: 20px;
    }
    .banner-text{
        font-size: 30px;
    }
    .banner-text2{
        font-size: 15px;
    }
    .button-banner1{
        font-size: 13px;
    }
    .button-banner2{
        font-size: 13px;
    }
    .img-banner{
        margin-top: 0;
    }
    .play-btn{
        font-size: 20px;
        width: 50px;
        height: 50px;
    }
    .play-btn i{
        line-height: 50px;
        margin-left: 5px;
    }
    .play-btn::before,.play-btn::after{
        -webkit-animation: pulse 5s linear infinite;
                animation: pulse 5s linear infinite;
    }
    .play-btn::after{
        left: 8px;
        right: 8px;
        top: 8px;
        bottom: 8px;
        opacity: 0.5;
    }
    @-webkit-keyframes pulse {
        0% {
          transform: scale(1, 1);
        }
        25% {
          transform: scale(1, 1);
        }
        50% {
          transform: scale(1.8, 1.8);
        }
        100% {
          transform: scale(1, 1);
        }
    }
    @keyframes pulse {
        0% {
          transform: scale(1, 1);
        }
        25% {
          transform: scale(1, 1);
        }
        50% {
          transform: scale(1.8, 1.8);
        }
        100% {
          transform: scale(1, 1);
        }
    }
    .works-title{
        font-size: 30px;
        margin-bottom: 80px;
        margin-top: 50px;
        margin-left: 0;
        /* text-align: center; */
    }
    .works-list-item{
        font-size: 15px;
        margin-left: 55px !important;
    }
    .carousel-indicators li{
        margin-left: 85px !important;
        margin-right: 5px !important;
    }
    li.active::after{
        width: 35px;
        right: 15px;
        bottom: -30px;
    }
    .slide-text-title{
        font-size: 30px;
        margin-top: 10%;
    }
    .number-slide{
        margin-top: -330px;
        font-size: 60px;
    }
    .avatar1{
        width: 140px;
        height: 200px;
        clip-path: circle(40px at 46% 30%);
        padding-left: 15px;
        padding-right: 20px;
    }
    .avatar2{
        width: 140px;
        height: 200px;
        clip-path: circle(40px at 50% 30%);
        padding-left: 5px;
        padding-right: 20px;
    }
    .work-name{
        margin-top: -90px;
        font-size: 15px;
    }
    .work-mail{
        margin-top: -15px;
        font-size: 13px;
    }
    .work-phone{
        margin-top: -15px;
        font-size: 13px;
    }
    .slide-text{
        margin-bottom: 50px;
        font-size: 15px;
    }
    .card .slide-left{
        margin-right: 30px;
    }
    .card .slide-right{
        margin-left: 30px;
    }
    .text-slide2{
        margin-top: -55%;
        height: 150%;
    }
    .works-item{
        height: 1200px;
    }
    .text-slide2.right{
        margin-top: 5% !important;
    }
    .img-works02{
        width: 550px;
    }
    .slide02-top{
        padding: 15px;
        font-size: 13px;
    }
    .avatar{
        width: 20px;
        height: 20px;
        margin: auto;
    }
    .button1-slide2{
        padding: 2px 5px;
        margin: 0 5px;
    }
    .button1-slide2 .name{
        font-weight: 500;
        font-size: 13px;
        /* margin: auto; */
    }
    .button2-slide2{
        padding: 2px 15px;
        margin: 0 5px;
    }
    .button2-slide2 .add{
        margin-left: 1px;
        font-size: 13px;
    }
    .button2-slide2.icon{
        margin-right: 5px;
        font-size: 13px;
    }
    .your-messages{
        font-size: 13px;
    }
    .textarea{
        border-radius: 20px;
        width: 100%;
        height: 80px;
    }
    .upload{
        font-size: 13px;
    }
    .option{
        font-size: 13px;
    }
    #dropzone{
        height: 130px;
        font-size: 13px;
        padding: 5px;
    }
    #dropzone div {
        top: 40px;
    }
    .click{
        font-size: 13px;
    }
    .number-slide2{
        font-size: 60px;
        margin-left: 0;
        margin-top: -30px;
    }
    .text-write{
        margin-left: 0;
    }
    .text-write-title{
        font-size: 30px;
        margin-left: 0;
    }
    .text-write-item{
        font-size: 15px;
        margin-left: 0;
    }
    .text-icon{
        margin-left: 0;
    }
    .number-slide3{
        font-size: 60px;
        margin-left: 0;
    }
    .text-send-title{
        font-size: 30px;
        margin-left: -125px;
        margin-top: 100px;
        width: 85%;
    }
    .text-send-item{
        font-size: 15px;
        margin-left: -125px;
        width: 85%;
    }
    .read-more-send{
        font-size: 15px;
        margin-left: -125px;
    }
    .send-link{
        font-size: 15px;
        margin-left: -125px;
    }
    .title-card-send{
        font-size: 15px;
    }
    .text-card-send{
        font-size: 15px;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }
    .avatar-send1{
        width: 30px;
        height: 50px;
        clip-path: circle(15px at 45% 40%);
        margin-top: -2%;
    }
    .avatar-send2{
        width: 30px;
        height: 50px;
        clip-path: circle(15px at 45% 40%);
        margin-top: -2%;
        margin-left: 0;
    }
    .avatar-send3{
        width: 30px;
        height: 50px;
        clip-path: circle(15px at 45% 40%);
        margin-top: -2%;
        margin-left: 0;
    }
    .send-avatar{
        margin-top: -1% !important;
        margin-left: -1%;
        width: 31px;
        height: 31px;
        font-size: 10px;
    }
    .send.card.left{
        position: absolute;
        margin-top: 20px;
        left: -130px;
        width: 100%;

    }
    .send.card.right{
        position: absolute;
        left: -145px;
        width: 100%;
        margin-top: 260px;
        margin-left: 15px;

    }
    
    .send-name{
        margin-top: 0px;
    }
    .slick-arrow{
        font-size: 30px !important;
    }
    .pricing-plans-title{
        font-size: 30px;
    }
    .free-plans-title{
        font-size: 30px;
    }
    .premium-plans-title{
        font-size: 30px;
    }
    .plans-text{
        font-size: 15px;
    }
    .free-plans-footer{
        font-size: 15px;
        margin: 15px 0;
    }
    .premium-plans-footer{
        font-size: 15px;
        margin: 15px 0;
    }
    
    .free-plans.card {
        float: none;
        margin-left: 15%;
    } 
    .premium-plans.card{
        float: none;
        margin-left: 15%;
        margin-top: 50px;
        height: 450px !important;
    }
    .hr-line-short{
        margin-top: -25px;
    }
    .free-plans-text{
        margin-top: -25px;
        margin-bottom: 60px;
    }
    .hr-line-long{
        width: auto;
    }
    .premium-plans-text{
        margin-top: -25px;
    }
    #ProgressBar{
        top: 10px;
    }
    .mission-title{
        margin-top: -400px;
        font-size: 30px;
        margin-left: 0;
        /* width: 100%; */
    }
    .mission-img-left{
        margin-left: -7.9%;
    }
    .mission-item{
        z-index: 2;
        margin: 0;
    }
    .mission-text1{
        margin-top: -10px;
        margin-left: 2%;
        font-size: 20px;
        width: 90%;
    }
    .mission-text2{
        font-size: 13px;
        margin-left: 2%;
        width: 90%;
    }
    .question-title{
        font-size: 30px;
        width: 100%;
        margin-top: 100px;
        margin-bottom: 10px;
    }
    .question-number{
        font-size: 30px;
        margin-top: 25px;
    }
    .faq-question{
        font-size: 15px;
        width: 80%;
    }
    .faq-answer{
        font-size: 15px;
    }
    .faq-question:after {
        font-size: 30px;
        margin-top: -35px;
        margin-right: -15%;
    }
    .faq-question.active:after {
        content: "\005F";
        font-size: 30px;
    }
    .read-more{
        margin-top: 5%;
        margin-left: 0;
    }
    .hr-line.question{
        width: 80%;
    }
    .footer{
        margin: 5px;
    }
    .footer-text{
        font-size: 30px;
    }
    .footer-text2{
        font-size: 13px;
        margin-top: -20px;
    }
    .footer-item{
        display: flex; 
        font-size: 13px;
        margin-right: 25px;
        margin-left: -20px;
    }
    .img-footer{
        width: 100px;
        float: left;
    }
    .logo-footer{
        margin-left: 0;
    }
    .copyright{
        font-size: 13px;
    }
    .slider-dots{
        font-size: 13px;
        top: -135px;
        left: 45%;
        justify-content: end !important;
    }
    .slider-dots li{
        margin: 0 10px;
    }
    .copyrighticon{
        float: none;
        margin-top: 0 !important;
        /* margin-right: 20px !important; */
    }
}

@media only screen and (min-width: 767px) and (max-width: 991px) { 
    .logo{
        margin-left: 25px;
    }
    .collapse.navbar-collapse{
        margin-left: 10px;
    }
    .nav-item{
        justify-content: start;
    }
    .item{
        margin-left: 20px !important;
    }
    .menu-item{
        /* display: flex; */
        margin: 0 15px;
        font-size: 15px;
    }
    .logo-text {
        font-size: 35px;
    }
    .logo-text2 {
        font-size: 15px;
    }
    .button-nav{
        padding: 5px 10px;
        font-size: 15px;
        border-radius: 20px;
    }
    .banner-text{
        font-size: 35px;
    }
    .banner-text2{
        font-size: 17px;
    }
    .button-banner1{
        font-size: 17px;
    }
    .button-banner2{
        font-size: 17px;
    }
    .img-banner{
        margin-top: 0;
    }
    .play-btn{
        font-size: 30px;
    }
    .works-title{
        font-size: 40px;
        margin-bottom: 40px;
        margin-left: 55px;
    }
    .works-list-item{
        font-size: 17px;
    }
    .carousel-indicators li{
        margin-bottom: 40px;
    }
    li.active::after{
        width: 40px;
        right: 20px;
        bottom: -30px;
    }
    .slide-text-title{
        font-size: 35px;
        margin-top: 10%;
    }
    .number-slide{
        margin-top: -400px;
        margin-left: -10px;
    }
    .avatar1{
        width: 140px;
        height: 200px;
        clip-path: circle(40px at 45% 30%);
        padding-left: 15px;
        padding-right: 20px;
    }
    .avatar2{
        width: 140px;
        height: 200px;
        clip-path: circle(40px at 50% 30%);
        padding-left: 5px;
        padding-right: 20px;
    }
    .work-name{
        margin-top: -80px;
        font-size: 17px;
    }
    .work-mail{
        font-size: 15px;
    }
    .work-phone{
        font-size: 15px;
    }
    .slide-text{
        margin-bottom: 50px;
    }
    .img-works02{
        width: 750px;
        object-fit: cover;
    }
    
    .works-item{
        height: 1200px;
    }
    .number-slide2{
        margin-top: -13% !important;
        font-size: 80px;
    }
    .text-slide2{
        margin-top: -60%;
    }
    .text-slide2.right{
        margin-top: 20%;
    }
    .slide02-top{
        padding: 20px;
        font-size: 15px;
    }
    .avatar{
        width: 30px;
        height: 30px;
        margin: auto;
    }
    .button1-slide2{
        padding: 5px 20px;
    }
    .button1-slide2 .name{
        font-weight: 500;
        font-size: 15px;
        margin: auto;
    }
    .button2-slide2{
        margin-left: 10px;
    }
    .button2-slide2 .add{
        margin-left: 0 !important;
        font-size: 15px;
    }
    .button2-slide2 .icon{
        margin-right: 0 !important;
        font-size: 15px;
    }

    .your-messages{
        font-size: 15px;
    }
    .textarea{
        border-radius: 25px;
        width: 100%;
        height: 100px;
        padding-right: 40px !important;
    }
    .upload{
        font-size: 15px;
    }
    .option{
        font-size: 15px;
    }
    #dropzone{
        font-size: 15px;
    }
    #dropzone div {
        top: 60px;
    }
    
    .click{
        font-size: 15px;
    }
    .number-slide2{
        margin-left: -5px;
        margin-top: 68%;
    }
    .text-write-title{
        font-size: 30px;
        margin-top: 0px;
        margin-left: 0;
    }
    .text-write-item{
        margin: 0;
    }
    .text-icon{
        margin: 0;
    }
    .text-send-title{
        margin-top: 10%;
    }
    .text-slide3.right{
        position: absolute;
        top: 350px;
        /* left: 40%; */
    }
    .text-send-title{
        margin-left: -90px;
        margin-top: 100px;
        width: 95%;
    }
    .text-send-item{
        margin-left: -90px;
        width: 95%;
    }
    .read-more-send{
        margin-left: -90px;
    }
    .send-link{
        margin-left: -90px;
    }
    .send.card.left{
        position: relative;
        left: -105px;
        margin-top: 10%;
    }
    .send.card.right{
        position: relative;
        left: -105px;
        margin-top: 10%;
    }
    .send-avatar{
        margin-left: -3%;
        height: 40px;
        width: 40px;
        margin-top: 3px;
    }
    .send-icon{
        margin: 0;
    }
    .text-card-send{
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }
    .icon-left{
        font-size: 40px !important;
    }
    .icon-right{
        font-size: 40px !important;
    }


    .free-plans-title{
        font-size: 35px;
    }
    .premium-plans-title{
        font-size: 35px;
    }
    #ProgressBar{
        top: 10px;
    }
    .free-plans.card {
        width: 350px;
    }
    .premium-plans.card{
        width: 350px;
    }
    .mission-title{
        position: relative;
        margin-top: -450px;
    }
    .mission-item{
        z-index: 2;
        margin-left: 44%;
    }
    .mission-text1{
        margin-top: 80px;
        margin-left: -30%;
        font-size: 30px;
    }
    .mission-text2{
        margin-left: -30%;
        font-size: 15px;
    }
    .faq-question{
        font-size: 15px;
        width: 80%;
    }
    .faq-answer{
        font-size: 15px;
    }
    .faq-question:after {
        font-size: 40px;
        margin-top: -35px;
        margin-right: -15%;
    }
    .faq-question.active:after {
        content: "\005F";
        font-size: 40px;
    }
    .read-more{
        margin-top: 5%;
        margin-left: 0;
    }
    .footer-text{
        font-size: 35px;
    }
    .footer-text2{
        font-size: 15px;
        margin-top: -20px;
    }
    .footer-item{
        display: flex; 
        font-size: 15px;
        margin-right: 25px;
        margin-left: -20px;
    }
    .img-footer{
        width: 100px;
        float: left;
    }

    .slider-dots{
        font-size: 13px;
        top: -100px;
        left: 50%;
    }
    .slider-dots li{
        margin: 0 20px;
    }
}

@media only screen and (min-width: 991px) and (max-width: 1199px) {
    .logo{
        margin-left: 35px;
    }
    .collapse.navbar-collapse{
        margin-left: -5px;
        justify-content: end;
    }
    .nav-item{
        justify-content: end;
    }
    .item{
        margin-left: 35px;
    }
    .menu-item{
        display: flex;
        margin: 0 20px;
        font-size: 15px;
    }
    .logo-text {
        font-size: 35px;
    }
    .logo-text2 {
        font-size: 15px;
    }
    .button-nav{
        padding: 5px 10px;
        font-size: 15px;
        border-radius: 20px;
    }
    .banner-text{
        font-size: 35px;
    }
    .banner-text2{
        font-size: 17px;
    }
    .button-banner1{
        font-size: 17px;
    }
    .button-banner2{
        font-size: 17px;
    }
    .img-banner{
        margin-top: 0;
    }
    .play-btn{
        font-size: 30px;
    }
    .works-title{
        font-size: 40px;
        margin-bottom: 40px;
        margin-left: 55px;
    }
    .works-list-item{
        font-size: 17px;
    }
    .carousel-indicators li{
        margin-bottom: 40px;
    }
    li.active::after{
        width: 40px;
        right: 20px;
        bottom: -30px;
    }
    .text-slide{
        position: absolute;
        left: 0;
    }
    .slide-text-title{
        font-size: 35px;
        margin-top: 10%;
    }
    .number-slide{
        margin-top: -600px;
    }
    .avatar1{
        width: 140px;
        height: 200px;
        clip-path: circle(40px at 45% 30%);
        padding-left: 15px;
        padding-right: 20px;
    }
    .avatar2{
        width: 140px;
        height: 200px;
        clip-path: circle(40px at 50% 30%);
        padding-left: 5px;
        padding-right: 20px;
    }
    .work-name{
        margin-top: -80px;
        font-size: 17px;
    }
    .work-mail{
        font-size: 15px;
    }
    .work-phone{
        font-size: 15px;
    }
    .slide-text{
        margin-bottom: 50px;
    }
    .works-item{
        height: 1000px;
    }
    /* .img-works02{
        width: 1000px;
    } */
    .text-slide2{
        margin-top: -50%;
    }
    .slide02-top{
        padding: 20px;
        font-size: 15px;
    }
    .avatar{
        width: 30px;
        height: 30px;
        margin: auto;
    }
    .button1-slide2{
        padding: 5px 20px;
    }
    .button1-slide2 .name{
        font-weight: 500;
        font-size: 15px;
        margin: auto;
    }
    .button2-slide2{
        margin-left: 10px;
    }
    .button2-slide2 .add{
        margin-left: 0 !important;
        font-size: 15px;
    }
    .button2-slide2 .icon{
        margin-right: 0 !important;
        font-size: 15px;
    }

    .your-messages{
        font-size: 15px;
    }
    .textarea{
        border-radius: 25px;
        width: 100%;
        height: 100px;
        padding-right: 40px !important;
    }
    .upload{
        font-size: 15px;
    }
    .option{
        font-size: 15px;
    }
    #dropzone{
        font-size: 15px;
    }
    #dropzone div {
        top: 60px;
    }
    .click{
        font-size: 15px;
    }
    .text-write{
        margin-top: 25%;
        margin-left: 12%;
    }
    .text-send-title{
        margin-top: 25%;
        margin-left: -75px;
    }
    .text-send-item{
        margin-left: -75px;
    }
    .read-more-send{
        margin-left: -75px;
    }
    .send-link{
        margin-left: -75px;
    }
    .send.card.left{
        position: relative;
        /* left: 50%; */
        margin-top: 0%;
    }
    .send.card.right{
        position: relative;
        /* left: -10%; */
        margin-top: 65%;
    }
    .send-avatar{
        margin-left: -3%;
        height: 40px;
        width: 40px;
        margin-top: 3px;
    }
    .send-icon{
        margin: auto;
    }
    .text-card-send{
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }
    .icon-left{
        font-size: 40px !important;
    }
    .icon-right{
        font-size: 40px !important;
    }


    .free-plans-title{
        font-size: 35px;
    }
    .premium-plans-title{
        font-size: 35px;
    }
    #ProgressBar{
        top: 10px;
    }
    .free-plans.card {
        width: 350px;
    }
    .premium-plans.card{
        width: 350px;
    }
    .mission-title{
        position: relative;
        margin-top: -450px;
    }
    .mission-item{
        z-index: 2;
        margin-left: 44%;
    }
    .mission-text1{
        margin-top: 80px;
        margin-left: -30%;
        font-size: 30px;
    }
    .mission-text2{
        margin-left: -30%;
        font-size: 15px;
    }
    .faq-question{
        font-size: 15px;
        width: 80%;
    }
    .faq-answer{
        font-size: 15px;
    }
    .faq-question:after {
        font-size: 40px;
        margin-top: -35px;
        margin-right: -15%;
    }
    .faq-question.active:after {
        content: "\005F";
        font-size: 40px;
    }
    .read-more{
        margin-top: 5%;
        margin-left: 0;
    }
    .footer-text{
        font-size: 35px;
    }
    .footer-text2{
        font-size: 15px;
    }
    .footer-item{
        display: flex; 
        font-size: 15px;
        margin-right: 5px;
    }
    .img-footer{
        width: 100px;
    }
    .slider-dots{
        font-size: 15px;
        top: -100px;
        left: 45%;
    }
}
@media only screen and (min-width: 1199px) and (max-width: 1919px) {
    .slide-text-title{
        margin-top: 10%;
    }
    .work-name{
        margin-top: -80px;
    }
    .slide-text{
        margin-bottom: 50px;
    }
    .slide02-top{
        padding: 20px;
    }
    .avatar{
        width: 30px;
        height: 30px;
        margin: auto;
    }
    .button1-slide2{
        padding: 5px 20px;
    }
    .button1-slide2 .name{
        font-weight: 500;
        margin: auto;
    }
    .button2-slide2{
        margin-left: 10px;
    }
    .button2-slide2 .add{
        margin-left: 0 !important;
    }
    .button2-slide2 .icon{
        margin-right: 0 !important;
    }

    .textarea{
        border-radius: 25px;
        width: 100%;
        height: 100px;
        padding-right: 40px !important;
    }
    .text-write{
        margin-top: 25%;
        margin-left: 12%;
    }

    .text-send-title{
        margin-top: 10%;
    }
    .text-slide3.right{
        position: absolute;
        top: 350px;
    }
    .send.card.left{
        position: relative;
        margin-top: 0%;
    }
    .send.card.right{
        position: relative;
        margin-top: 65%;
    }
    .send-avatar{
        margin-left: -3%;
        height: 40px;
        width: 40px;
        margin-top: 3px;
    }
    .send-icon{
        margin: auto;
    }
    .text-card-send{
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }
   
    .free-plans.card {
        width: 350px;
    }
    .premium-plans.card{
        width: 350px;
    }
    .mission-img-right{
        margin-left: 51.4%;
    }
    
    .faq-question{
        width: 80%;
    }
    .faq-question:after {
        font-size: 40px;
        margin-top: -35px;
        margin-right: -15%;
    }
    .faq-question.active:after {
        content: "\005F";
    }
    .read-more{
        margin-top: 5%;
        margin-left: 0;
    }
    .footer-item{
        display: flex; 
        margin-right: 5px;
    }
    .img-footer{
        width: 100px;
    }
}
@media only screen and (min-width: 1920px) { 
    .slide-text-title{
        margin-top: 10%;
    }
    .work-name{
        margin-top: -80px;
    }
    .slide-text{
        margin-bottom: 50px;
    }
    .slide02-top{
        padding: 20px;
    }
    .avatar{
        width: 30px;
        height: 30px;
        margin: auto;
    }
    .button1-slide2{
        padding: 5px 20px;
    }
    .button1-slide2 .name{
        font-weight: 500;
        margin: auto;
    }
    .button2-slide2{
        margin-left: 10px;
    }
    .button2-slide2 .add{
        margin-left: 0 !important;
    }
    .button2-slide2 .icon{
        margin-right: 0 !important;
    }

    .textarea{
        border-radius: 25px;
        width: 100%;
        height: 100px;
        padding-right: 40px !important;
    }
    .text-write{
        margin-top: 25%;
        margin-left: 12%;
    }
    .text-send-title{
        margin-top: 10%;
    }
    .text-slide3.right{
        position: absolute;
        top: 350px;
    }
    .send.card.left{
        position: relative;
        left: 50%;
        margin-top: 0%;
    }
    .send.card.right{
        position: relative;
        left: -10%;
        margin-top: 65%;
    }
    .send-avatar{
        margin-left: -3%;
        height: 40px;
        width: 40px;
        margin-top: 3px;
    }
    .send-icon{
        margin: auto;
    }
    .text-card-send{
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }
   
    .free-plans.card {
        width: 350px;
    }
    .premium-plans.card{
        width: 350px;
    }
    .mission-img-right{
        margin-left: 51%;
    }
    .mission-title{
        position: relative;
        /* margin-top: -450px; */
    }
    .mission-item{
        z-index: 2;
        margin-left: 44%;
    }
    .mission-text1{
        margin-top: 80px;
        margin-left: -30%;
    }
    .mission-text2{
        margin-left: -30%;
    }
    .faq-question{
        width: 80%;
    }
    .faq-question:after {
        font-size: 40px;
        margin-top: -35px;
        margin-right: -15%;
    }
    .faq-question.active:after {
        content: "\005F";
    }
    .read-more{
        margin-top: 5%;
        margin-left: 0;
    }
    .footer-item{
        display: flex; 
        margin-right: 5px;
    }
    .img-footer{
        width: 100px;
    }
}
